<main class="container">
  <div class="row mx-0 justify-content-center text-center my-5">
    <h1 class="text-success mb-5">Ny Sekolinay</h1>
    <h2 class="text-success">Register</h2>
    <form class="example-form">
      <div class="row">
        <div class="col">
          <mat-form-field class="example-full-width px-3 py-3">
            <mat-label>Firstname</mat-label>
            <input matInput placeholder="Your Firstname">
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width px-3 py-3">
            <mat-label>Lastname</mat-label>
            <input matInput placeholder="Your Lastname">
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width px-3 py-3">
            <mat-label>Birthdate</mat-label>
            <input matInput placeholder="Your Birthdate">
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width px-3 py-3">
            <mat-label>Address</mat-label>
            <input matInput placeholder="Your Address">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="example-full-width px-3 py-3">
            <mat-label>Postal Code</mat-label>
            <input matInput placeholder="Your Postal Code">
          </mat-form-field>
          <mat-form-field class="example-full-width px-3 py-3">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Your Email">
          </mat-form-field>
          <mat-form-field class="example-full-width px-3 py-3">
            <mat-label>Telephone</mat-label>
            <input matInput placeholder="Your Telephone">
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width px-3 py-3">
            <mat-label>Faculty</mat-label>
            <input matInput placeholder="Your Faculty">
          </mat-form-field>
        </div>
      </div>
      <div class="text-center my-5 px-5">
        <button  class="btn btn-success btn-block mb-3" routerLink="/register">Sign Up</button>
        <button class="btn btn-outline-success btn-block" routerLink="/login">Already have a account</button>
      </div>
    </form>
  </div>
</main>
